@charset "UTF-8";
/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/******************/
@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/noto-sans-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/noto-sans-v27-latin_cyrillic-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/noto-sans-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/noto-sans-v27-latin_cyrillic-500.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/noto-sans-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/noto-sans-v27-latin_cyrillic-regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

.site-container {
  overflow: hidden;
  background-color: #000;
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.section-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #fff;
}

.section-text {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.first__descr::after {
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.blur-first-phone {
  background: rgba(250, 0, 255, 0.2);
  filter: blur(125px);
  transform: rotate(-105.26deg);
  width: 662.63px;
  height: 783.03px;
}

.download {
  display: flex;
  width: 376px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.download__item {
  z-index: 100;
}

.first {
  position: relative;
  z-index: 99;
  padding-bottom: 94px;
}

.first__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first__info {
  padding-top: calc(143px + 132px);
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 43px;
}

.first__article {
  position: relative;
  z-index: 20;
}

.first__title {
  font-size: 64px;
  line-height: 70px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 129px;
}

.first__descr {
  font-size: 20px;
  line-height: 27px;
  max-width: 475px;
  padding-left: 105px;
  position: relative;
}

.first__descr::before {
  position: absolute;
  left: -31px;
  top: 15px;
  transform-origin: bottom center;
  content: '';
  width: 139.43px;
  height: 0px;
  border: 2px solid #fff;
  background-color: #fff;
  transform: rotate(120.61deg);
  z-index: 10;
}

.first__descr::after {
  content: '';
  position: absolute;
  top: -65px;
  left: -6px;
  z-index: -1;
}

.first__phone {
  position: relative;
  position: relative;
  margin-right: 59px;
  width: 372px;
  height: 575px;
}

.first__phone::before {
  content: '';
  background: #000000;
  opacity: 0.4;
  filter: blur(35.8417px);
  width: 307.77px;
  height: 631.35px;
  display: inline-block;
  position: absolute;
  bottom: 61.85px;
  z-index: -1;
}

.first__phone::after {
  content: '';
  background-image: url("/img/blur-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 1354px;
  height: 1061px;
  position: absolute;
  top: -520px;
  left: -450px;
  z-index: -1;
}

.first__image {
  position: relative;
  right: 126px;
  top: -274px;
  z-index: 10;
}

.first__phone-blur {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  right: -500px;
}

.first__links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  flex-wrap: wrap;
}

.first__subtitle {
  font-size: 35px;
  line-height: 70px;
  text-transform: uppercase;
}

.first__download {
  margin-right: 63px;
  margin-top: 7px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  left: 0;
}

.header__container {
  padding: 23px 85px 0;
  display: flex;
  gap: 108px;
}

.header__logo {
  width: 211px;
  display: flex;
  align-items: baseline;
  align-items: center;
  gap: 8px;
  flex-basis: 211px;
  flex-grow: 0;
}

.header__name {
  display: inline-block;
  padding-top: 8px;
  place-self: center;
}

.header__list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  justify-content: flex-start;
}

.header__item {
  position: relative;
  top: 4px;
}

.header__item--login::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 25px;
  background-image: url("/img/person.svg");
  top: 0px;
  left: 0px;
}

.header__link {
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-left: 38px;
  margin-top: 20px;
  padding: 0px 3.1px;
}

.cookies {
  background: #212834;
}

.cookies__container {
  padding-top: 21px;
  padding-right: 24px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.cookies__text {
  font-size: 14px;
  line-height: 19px;
  padding-top: 16px;
}

.cookies__button {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #FFFFFF;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 55px;
}

.become-member {
  margin: 61px 0px;
}

.become-member__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 177px;
  gap: 30px;
}

.become-member__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.become-member__article {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.371px;
  color: #fff;
  font-family: 'NotoSans', sans-serif;
  padding: 61px 53px;
  flex-basis: 503px;
  display: flex;
  align-items: center;
}

.become-member__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: left;
  display: block;
  max-width: 347px;
}

.become-member__link {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-decoration: underline;
  color: #FFFFFF;
}

.mission-vision {
  position: relative;
  z-index: 10;
  padding-bottom: 305px;
}

.mission-vision__container {
  display: flex;
  justify-content: space-between;
}

.mission-vision__phone {
  position: relative;
  width: 680px;
  height: 672px;
  flex-shrink: 1;
}

.mission-vision__image {
  position: absolute;
  z-index: 100;
  right: -182px;
  top: -24px;
}

.mission-vision__article {
  flex-shrink: 1;
  max-width: 450px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.mission-vision__title {
  margin-bottom: 23px;
  position: relative;
  z-index: 10;
}

.mission-vision__title::before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 80px;
  height: 80px;
  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
  right: 50px;
  top: 0;
}

.mission-vision__descr {
  max-width: 315px;
  position: relative;
  z-index: 10;
}

.scanner {
  margin-bottom: 50px;
}

.scanner__container {
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%), url("/img/scanner-bg.jpg");
  background-position: 0 -14px, 0 14px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 1060px, contain;
  display: flex;
  align-items: flex-end;
  padding-top: 379px;
}

.scanner__images {
  display: flex;
  gap: 49.44px;
  position: relative;
}

.scanner__phone {
  max-width: 100%;
  position: relative;
  bottom: 0;
  left: -26px;
}

.scanner__article {
  width: 30%;
  padding: 20px 24px;
  margin-bottom: 133px;
}

.scanner__title {
  margin-bottom: 23px;
}

.scanner__text {
  max-width: 316px;
}

.tool {
  padding: 72px 0;
}

.tool__container {
  display: flex;
}

.tool__article {
  width: 42%;
  padding-top: 89px;
  padding-right: 20px;
}

.tool__title {
  margin-bottom: 33px;
  position: relative;
}

.tool__title::before {
  content: '';
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.1;
  filter: blur(125px);
  transform: rotate(5.78deg);
  display: inline-block;
  position: absolute;
  left: -239.82px;
  top: -190px;
  width: 426.21px;
  height: 438.35px;
}

.tool__text {
  max-width: 395px;
}

.code__container {
  padding: 162px 0 0;
  display: flex;
  gap: 11px;
}

.code__info {
  max-width: 45%;
  position: relative;
  z-index: 10;
  left: 162px;
  bottom: 101px;
  padding: 20px;
}

.code__right {
  position: relative;
}

.code__right::before {
  content: url("/img/Nightlife.svg");
  position: absolute;
  top: -26px;
  right: 99px;
  z-index: 10;
  display: inline-block;
}

.code__title {
  margin-bottom: 23px;
}

.code__text {
  max-width: 315px;
}

.code__phone-wrapper {
  position: relative;
  min-height: 600px;
}

.code__image-phone {
  position: absolute;
  top: -409px;
  left: -151px;
  z-index: 2;
  width: 114.6%;
}

.code__image-left {
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
  top: -12px;
}

.code__image-right {
  position: relative;
  top: -17px;
  width: 100%;
}

.code__download {
  margin-top: 58px;
}

.code__phones {
  display: flex;
}

.generate {
  background-image: url("/img/generatge-bg.png");
  background-repeat: no-repeat;
  background-position: center 149px;
}

.generate__phone-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 19px;
  padding-top: 41px;
  position: relative;
  z-index: 10;
}

.generate__phone-wrapper::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1022.45px;
  height: 952.07px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.15;
  filter: blur(155.784px);
  border-radius: 476.034px;
  transform: rotate(-0.55deg);
  top: -147px;
  right: 50%;
  transform: translateX(50%);
  z-index: 0;
}

.generate__phone {
  position: relative;
}

.generate__phone-text {
  position: absolute;
  font-size: 21px;
  line-height: 26px;
  right: -284px;
  bottom: 357px;
}

.generate__phone-text::before {
  content: url("/img/generate-arrow.svg");
  position: relative;
  top: -35px;
  left: 4px;
}

.generate__image {
  position: relative;
  z-index: 10;
}

.generate__article {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
}

.generate__title {
  max-width: 381px;
}

.generate__text {
  max-width: 292px;
  margin-top: 37px;
}

.easier__container {
  display: flex;
  position: relative;
  padding-top: 192px;
  justify-content: flex-end;
  padding-right: 160px;
  position: relative;
}

.easier__container::after {
  content: "";
  display: inline-block;
  width: 286.92px;
  height: 267.17px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.2;
  filter: blur(125px);
  transform: rotate(5.78deg);
  position: absolute;
  right: -108px;
  top: 370px;
}

.easier__title {
  max-width: 421px;
}

.easier__text {
  margin-top: 23px;
  padding-left: 5px;
}

.easier__wrapper {
  max-width: 904px;
  max-height: 591.37px;
  color: #fff;
  position: relative;
  bottom: 300px;
  left: 200px;
}

.easier__inscr {
  background: #000000;
  color: #fff;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22.8021px;
  line-height: 27px;
  padding: 20px;
  max-width: 267px;
  display: inline-block;
  position: absolute;
}

.easier__inscr--1 {
  top: 205px;
  right: 142px;
  font-weight: 500;
  padding: 22px 22.78px 20.81px 21px;
}

.easier__inscr--2 {
  top: 359px;
  left: 42px;
  padding: 29px 25px 29px;
  max-width: 285px;
}

.easier__inscr--3 {
  right: 3px;
  bottom: 308px;
  max-width: 187px;
  padding: 19px 24px 18px 23px;
}

.easier__inscr--4 {
  bottom: 242px;
  left: 264px;
  padding: 18px 23.16px 19.76px 24px;
}

.easier__image {
  max-width: 100%;
  padding-left: 66px;
}

.easier__phone {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

.notab {
  background-image: url("/img/notab-bg.jpg");
  background-position: center -71px;
  background-repeat: repeat-x;
  padding: 307px 0 200px 0;
}

.notab__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notab__image {
  max-width: 100%;
}

.touch {
  padding-top: 59px;
  margin-bottom: 150px;
}

.touch__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.touch__form {
  display: grid;
  grid-template-columns: minmax(100px, 100%) minmax(100px, 100%);
  gap: 23px;
  max-width: 818px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.touch__form-wrapper {
  margin-top: 59px;
  margin-bottom: 90px;
  position: relative;
  z-index: 2;
}

.touch__form-wrapper::after {
  position: absolute;
  content: '';
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  width: 336.78px;
  height: 341.42px;
  display: inline-block;
  bottom: 0;
  right: -190px;
  z-index: -1;
}

.touch__input {
  grid-column-end: span 2;
  background: #FFFFFF;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  padding: 28px 23px;
  color: #000;
}

.touch__input::placeholder {
  color: #BFBFBF !important;
}

.touch__input:placeholder-shown {
  outline: 2px solid #ff0000;
}

.touch__input--state {
  grid-column-end: span 1;
}

.touch__input--city {
  grid-column-end: span 1;
}

.touch__input--area {
  padding-top: 25px;
  padding-bottom: 22px;
}

.touch__button {
  grid-column-end: span 2;
  justify-self: center;
  width: 398px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 25px 0 26px;
  margin-top: 36px;
}

.touch__article {
  text-align: center;
}

.touch__text {
  max-width: 580px;
  margin: 23px auto;
  position: relative;
}

.touch__text::before {
  content: '';
  display: inline-block;
  width: 247.04px;
  height: 250.45px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  position: absolute;
  left: -98px;
  top: -161px;
  z-index: -1;
}

.touch__title {
  position: relative;
  z-index: 10;
}

.touch__title::before {
  content: '';
  display: inline-block;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  z-index: 0;
  width: 247.04px;
  height: 250.45px;
  position: absolute;
  top: 0;
  left: 250px;
}

.touch__subtitle {
  font-family: 'NotoSans';
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
  position: relative;
  z-index: 10;
}

.touch__download {
  width: auto;
  width: 611px;
  margin: 0 auto;
}

@media (max-width: 638px) {
  .touch__download {
    width: 560px;
  }
}

.footer__container {
  padding-bottom: 85.85px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.footer__container::before {
  content: '';
  display: inline-block;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  width: 405.99px;
  height: 411.6px;
  bottom: -125px;
  left: -45px;
  position: absolute;
  z-index: -1;
}

.footer__copy {
  padding-top: 5px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer .footer__mail, .footer .footer__trademark, .footer .footer__links {
  font-family: 'Avenir';
  font-style: normal;
  color: #fff;
}

.footer__mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 19px;
}

.footer__trademark {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
}

.footer__links {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
}

.footer__links-item:first-child {
  padding-left: 3px;
}

.footer__links-item:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .first__phone {
    margin-right: 0;
    width: 272px;
  }
  .first__links {
    display: block;
    margin: 0 auto 13px;
  }
  .first__download {
    margin-right: 0;
    width: auto;
  }
  .scanner__article {
    width: 50%;
  }
  .scanner__container {
    align-items: start;
  }
  .tool__container {
    display: block;
  }
  .tool__article {
    width: 100%;
  }
  .generate {
    background-position: center 300px;
  }
  .generate__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .generate__phone {
    max-width: 100%;
  }
  .generate__article {
    flex-wrap: wrap;
  }
  .generate__phone-text {
    right: -63px;
    bottom: -85px;
    font-size: 18px;
    line-height: 22px;
  }
  .generate__phone-text::before {
    content: url("/img/arrow-small.svg");
    display: inline-block;
    top: -31px;
    left: 125px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__list {
    flex-grow: 0;
  }
  .first__title {
    font-size: 35px;
    line-height: 40px;
  }
  .scanner__container {
    flex-direction: column-reverse;
  }
  .scanner__article {
    width: 100%;
    position: relative;
    margin-top: 64.5%;
    padding: 0;
    margin-bottom: 69px;
  }
  .scanner__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .scanner__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
  }
  .scanner__images {
    margin: 0px auto 0;
  }
  .scanner__phone {
    position: static;
  }
  .tool__charts {
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
  }
  .code__container {
    display: block;
    padding: 0;
  }
  .code__image-phone {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: -200px;
  }
  .code__info {
    max-width: 100%;
    left: 0;
  }
  .generate {
    padding-bottom: 88px;
  }
  .easier {
    padding-top: 113px;
  }
  .easier__container {
    justify-content: flex-start;
  }
  .easier__title {
    font-size: 24px;
    line-height: 29px;
    max-width: 198px;
    margin-bottom: 24px;
  }
  .easier__text {
    font-size: 16px;
    line-height: 22px;
    padding-left: 0;
  }
  .touch {
    padding-top: 0px;
  }
  .touch__form {
    gap: 16px;
  }
  .touch__form-wrapper {
    margin-top: 50px;
    margin-bottom: 74px;
  }
  .touch__input {
    padding: 16px 11px 14px;
  }
  .touch__input--state {
    grid-column-end: span 2;
  }
  .touch__input--city {
    grid-column-end: span 2;
  }
  .touch__input--area {
    padding-top: 17px;
    padding-bottom: 12px;
    height: 7.8em;
  }
  .touch__input::placeholder {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .header__container {
    margin-top: 40px;
  }
  .header__logo {
    gap: 3px;
  }
  .header__name {
    padding-top: 3px;
  }
  .header__item {
    margin-bottom: 20px;
  }
  .header__item:before {
    display: none;
  }
  .header__link {
    margin-left: 0;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 19px;
    padding: 0 0 5px 0;
  }
  .first {
    padding-bottom: 0;
  }
  .first__title {
    margin-bottom: 24px;
  }
  .first__subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 33px;
  }
  .first__descr {
    padding-left: 0;
    font-size: 16px;
    line-height: 22px;
  }
  .first__descr:before {
    display: none;
  }
  .first__descr:after {
    content: '';
    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
    z-index: -1;
    width: 74px;
    height: 74px;
    display: inline-block;
    left: -19px;
    top: -18px;
  }
  .first__info {
    padding-top: 192px;
    max-height: 475px;
    margin-bottom: 61px;
  }
  .first__phone {
    width: 100px;
  }
  .first__phone::after {
    position: absolute;
    left: -400px;
    top: -300px;
    content: '';
    background-image: url("/img/blur-phone-first-small.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 800px;
    height: 800px;
  }
  .first__image {
    top: -106px;
    right: 58px;
  }
  .download {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }
  .download__item {
    flex-shrink: 2;
  }
  .become-member {
    margin: 56px 0 110px;
  }
  .become-member__article {
    padding: 37.5px  32px;
  }
  .become-member__title {
    font-size: 24px;
    line-height: 33px;
  }
  .become-member__link {
    font-size: 18px;
    line-height: 25px;
  }
  .mission-vision {
    padding-bottom: 29px;
  }
  .mission-vision__container {
    flex-direction: column-reverse;
  }
  .mission-vision__article {
    padding: 0;
  }
  .mission-vision__image {
    position: static;
    margin-bottom: 4px;
  }
  .mission-vision__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .mission-vision__title::before {
    left: -24px;
    top: -26px;
  }
  .mission-vision__descr {
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
  }
  .mission-vision__phone {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .scanner__container {
    background-image: url("/img/bg-scanner-small-1.png");
    background-position: -39px 0;
    background-repeat: no-repeat;
    background-size: 121%;
  }
  .tool {
    padding: 6px 0;
  }
  .tool__container {
    display: block;
  }
  .tool__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .tool__title::before {
    display: none;
  }
  .tool__article {
    width: 100%;
    padding-right: 0;
  }
  .tool__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
  }
  .tool__image {
    position: relative;
    top: 30px;
    left: -45px;
  }
  .tool__charts {
    padding-bottom: 62px;
    justify-content: flex-start;
  }
  .code__right::before {
    content: url("/img/Nightlife-small.svg");
    position: absolute;
    top: 29px;
    left: 38px;
    z-index: 10;
    display: inline-block;
  }
  .code__title {
    font-size: 24px;
    line-height: 29px;
  }
  .code__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
  }
  .code__info {
    padding: 0px 15px 0;
    top: -120px;
  }
  .code__download {
    margin-top: 50px;
    width: 100%;
  }
  .code__image-left {
    margin-top: 8px;
  }
  .code__image-phone {
    top: -178px;
  }
  .generate {
    background-image: url("/img/generate-bg-small.svg");
    background-repeat: no-repeat;
    background-position: center 244px;
  }
  .generate__article {
    margin-top: 0;
    position: relative;
    top: -48px;
  }
  .generate__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .generate__text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
  }
  .generate__phone-wrapper {
    padding-left: 0;
    padding-top: 22px;
  }
  .generate__phone-wrapper::before {
    content: '';
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.15;
    filter: blur(46.6782px);
    border-radius: 142.636px;
    transform: rotate(-0.55deg);
    width: 306.36px;
    height: 285.27px;
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    z-index: 0;
  }
  .easier {
    padding-bottom: 145px;
  }
  .easier__image {
    max-width: auto;
    padding-left: 0;
    margin-right: 25px;
  }
  .easier__phone {
    margin-top: 146px;
    display: flex;
    justify-content: center;
  }
  .easier__container::after {
    top: 200px;
  }
  .easier__inscr {
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
  }
  .easier__inscr--1 {
    padding: 14px 2px 9px 15px;
    right: 171px;
    top: -71px;
    max-width: 165px;
  }
  .easier__inscr--2 {
    padding: 15px 13px 13px 17px;
    top: 19px;
    left: 189px;
    max-width: 171px;
  }
  .easier__inscr--3 {
    padding: 13px 15px 11px 18px;
    max-width: 122px;
    bottom: -52px;
    right: 15px;
  }
  .easier__inscr--4 {
    padding: 14px 13px 11px;
    max-width: 107px;
    bottom: 46px;
    left: 30px;
  }
  .notab {
    display: none;
  }
  .touch {
    margin-bottom: 63px;
  }
  .touch__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .touch__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 323px;
    margin: 0 auto;
    text-align: auto;
  }
  .touch__subtitle {
    margin-bottom: 44px;
  }
  .touch__button {
    font-size: 24px;
    line-height: 29px;
    width: 345px;
    margin-top: 24px;
    padding-bottom: 24px;
  }
  .touch__download {
    width: auto;
  }
  .touch__form-wrapper::after {
    position: absolute;
    content: '';
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(125px);
    transform: rotate(5.78deg);
    width: 336.78px;
    height: 341.42px;
    display: inline-block;
    right: -250px;
    z-index: -1;
    bottom: -200px;
  }
  .footer {
    padding-bottom: 25px;
  }
  .footer__container::before {
    content: '';
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(69.1733px);
    transform: rotate(5.78deg);
    position: absolute;
    width: 224.67px;
    height: 227.77px;
    z-index: -1;
    left: -112px;
    bottom: -54.23px;
  }
}

@media (max-width: 375px) {
  .code__image-right {
    position: relative;
    width: auto;
    left: 63px;
    top: -75px;
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 53px;
    align-items: center;
  }
  .footer__copy {
    text-align: center;
  }
  .footer__mail {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 9px;
  }
  .footer__trademark {
    font-size: 14px;
    line-height: 19px;
  }
  .footer__links-item:not(:last-child) {
    margin-bottom: 14px;
  }
  .footer__logo {
    margin-bottom: 16px;
  }
}
